$grey-text: #585858;
$light-grey-text: #a8a8a8;
$grey-background: #f6f6f6;
$light-green: #ced3d1;
$dark-green: #9ca7a1;

body {
    margin: 0;
    color: $grey-text;
}

// ================================
// Typography
// ================================
h1, h2, h3 {
    font-family: cormorant garamond;
    font-weight: 600;
    margin-top: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.1rem;
    margin-top: 0;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: montserrat;
    line-height: 1.5rem;
    margin: 0;
    color: $grey-text;
}

a {
    display: inline-block;
    color: $grey-text;
    text-decoration: none;
    margin-top: 0;
}

.my-story-col a {
    color: $dark-green;
    font-weight: 600;
}

.btn {
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.1rem 2rem;
}

.btn-bg-green {
    background: $dark-green;
    color: white;
}

.btn:hover .arrow, 
.btn:hover .arrow-dark {
    animation-name: moveArrow;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.btn-bg-white {
    background: white;
    color: $grey-text;
}

.arrow {
    font-size: 2em;
    color: white;
    vertical-align: -7px;
    padding-left: 1em;  
}

.arrow-dark {
    font-size: 2em;
    color: $grey-text;
    vertical-align: -7px;
    padding-left: 1em;  
}

@keyframes moveArrow {
    0% { transform: translateX(0px)}
    100% { transform: translateX(15px)}
}

strong {
    font-weight: 600;
}

// =======================================================
// Utilities
// =======================================================
.t1-pad {
    padding-top: 3rem;
}

.t2-pad {
    padding-top: 6rem;
}

.t3-pad {
    padding-top: 8rem;
}

.r2-pad {
    padding-right: 6rem;
}

.x3-pad {
    padding: 3rem;
}

@media (max-width: 1100px) {
    .t2-pad {
        padding-top: 1rem;
    }
    .r2-pad {
        padding-right: 0;
    }
}

// =======================================================
// Navigation
// =======================================================
nav {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid $dark-green;
    background-color: white;
    z-index: 99;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 1rem;
    letter-spacing: .1rem;
    padding: 0;
}

.nav-item {
    margin: 1rem 0.7rem;
    text-decoration: none;
    font-weight: 600px;
}

.hamburger {
    display: none;
    padding: 0 2rem;
    cursor: pointer;
}

@media (max-width: 700px) {
    .nav-list {
        justify-content: flex-end;
    }
    .nav-item {
        display: none;
    }
    .hamburger {
        display: inline-block;
    }
}

.nav-link {
    text-transform: uppercase;
    text-decoration: none;
    font-family: cormorant garamond;
    color: $grey-text;
    font-weight: 600;
}

.nav-list-mobile {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: white;
    list-style: none;
    width: calc(100% - 40px);
    li {
        margin: 20px 0;
    }
}

.link-mobile {
    font-family: Montserrat;
    font-weight: 700;
}

.nav-link:hover, .nav-link:focus {
    color: $dark-green;
}

// =======================================================
// Footer
// =======================================================
.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    margin-top: 50px;
    border-top: 1px solid $light-green;
}

@media (max-width: 750px) {
    .footer-flex {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px;
    }
}

.footer-list {
    padding-left: 0;
}

.col-3 {
    width: 33.3%;
    text-align: center;
}

@media (max-width: 750px) {
    .col-3 {
        padding-top: 40px;
        width: 70%;
    }
}

.footer-items {
    font-family: cormorant garamond;
    list-style: none;
    font-size: 1.1rem;
    font-weight: 300;
    color: $grey-text;
    padding: 0.7rem 0;
}

.footer-text {
    color: $grey-text;
    font-family: cormorant garamond;
    font-size: 1.1rem;
    font-weight: 300;
    text-transform: uppercase;
}


// =======================================================
// Layout
// =======================================================
.container {
    width: 98%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-1 {
    display: flex;
}

.flex-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-3 {
    background: $grey-background;
}

@media (max-width: 1100px) {
    .flex-1 {
        flex-direction: column;
    }
    .t2-pad {
        padding-top: 1rem;
    }
}

.col {
    width: 50%;
}

@media (max-width: 1100px) {
    .col {
        width: 95%;
        margin: 0 auto;
    }
}

.row {
    display: flex;
    justify-content: space-between;
}

// Hero Section
.first-section {
    padding-top: 3rem;
}

@media (max-width: 700px) {
    .hero {
        padding-bottom: 2rem;
    }
}

.Img {
    width: 100%;
    height: 100%;
}

.thumbnail {
    width: 90%;
}

.row-special {
    display: flex;
    justify-content: space-between;
    background: $dark-green;
    padding: 2rem;
}

.white-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}


// Gallery Section
.banner {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3rem 0;
}

.sub-heading {
    color: $dark-green;
    text-transform: uppercase;
}

.gallery-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 1100px) {
    .gallery-flex {
        flex-direction: column;
        align-items: center;
    }
}

.gallery-card {
    width: 49.5%;
}

@media (max-width: 1100px) {
    .gallery-card {
        width: 98%;
    }
}

.gallery-img {
    width: 100%;
    height: 600px;
    object-fit: cover;

}

.gallery-img-overlay {
    background-color: white;
    height: 150px;
    opacity: 0.8;
    position: relative;
    bottom: 200px;
    margin-bottom: -140px;
    display: flex;
    align-items: center;
    padding: 0 2em;
}

// Testimonials
.testimonial-col {
    width: 50%;
}

@media (max-width: 991px) {
    .row {
        flex-direction: column-reverse;
    }
    .testimonial-col {
        width: 100%;
    }
}

.testimonial-block {
    background-color: white;
    position: relative;
    top: 210px;
    right: 70px;
    box-shadow: 0 3px 40px 0 rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 75%;
}

.testimonial-img {
    height: 100%;
}

@media (max-width: 1100px) {
    .testimonial-block {
        top: 0;
        right: 0;
    }
}

// Contact Banner
.banner-green {
    background: $light-green;
    margin-top: 200px;
}

@media (max-width: 1100px) {
    .banner-green {
        margin-top: 1.5rem;
    }
}

// ==============================================================
// Portfolio Page
// ==============================================================
.portfolio-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 10px;
}

.gallery-tall {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.gallery-tall-overlay {
    background-color: $light-green;
    height: 150px;
    position: relative;
    bottom: 20px;
    margin-bottom: -20px;
    display: flex;
    align-items: center;
    padding: 0 2em;
}

// ==============================================================
// About Page
// ==============================================================
.about-heading {
    max-width: 600px;
    margin: 0 auto;
}

.about-heading p {
    margin: 20px 0;
}

@media (max-width: 600px) {
    .about-heading p {
        padding: 0 1rem;
    }
    .about-title {
        padding-left: 1rem;
    }
}

.about-img-grid {
    display: flex;
    justify-content: space-between;
}

.about-grid-1 {
    height: 400px;
    max-width: 25%;
    object-fit: cover;
}

.about-grid-2 {
    height: 500px;
    max-width: 50%;
    object-fit: cover;
}

.about-grid-3 {
    height: 400px;
    max-width: 25%;
    object-fit: cover;
    align-self: flex-end;
}

@media (max-width: 990px) {
    .about-img-grid {
        justify-content: center;
    }
    .about-grid-1 {
        display: none;
    }
    .about-grid-2 {
        max-width: 97%;
    }
    .about-grid-3 {
        display: none;
    }
}

// Story Section
.my-story-header {
    max-width: 30%;
}

.my-story-p {
    display: flex;
    justify-content: space-between;
}

.my-story-col {
    width: 45%;
}

@media (max-width: 870px) {
    .about-p {
        width: 95%;
        margin: 0 auto;
    }
    .my-story-header {
        max-width: 70%;
    }
    .my-story-p {
        flex-direction: column;
        align-items: center;
    }
    .my-story-col {
        width: 100%;
    }
}

.my-story-col p {
    line-height: 1.7;
    margin-top: 20px;
}

.custom-bg {
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

@media (max-width: 750px) {
    .right-parallax {
        left: 10% !important;
    }
}

// Values Section
.values-section {
    background: $light-green;
    padding: 50px 1rem;
}

.values-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto;
    align-items: flex-start;
    grid-gap: 40px;
}

.values-grid h2 {
    color: white;
}

.special-hr {
    width: 50%;
    margin: 0;
    border-top: 2px solid white;
}

// ==============================================================
// Investment Page
// ==============================================================
.investment-banner {
    text-align: center;
}

.investment-subheading {
    color: $dark-green;
    text-transform: uppercase;
}

.investment-flex {
    display: flex;
    justify-content: space-between;
}

.investment-col {
    width: 49%
}

@media (max-width: 850px) {
    .investment-flex {
        flex-direction: column;
    }
    .investment-col {
        width: 100%;
    }
}

// Process Grid Section
.process-grid {
    display: flex;
    justify-content: space-between;
}

.process-col {
    width: 47%;
    p {
        padding-bottom: 30px;
    }
}

.process-col-2 {
    width: 40%;
    p {
        color: white;
        padding-bottom: 15px;
    }
}

@media (max-width: 850px) {
    .process-grid {
        flex-direction: column;
        align-items: center;
    }
    .process-col {
        width: 95%;
    }
    .process-col-2 {
        width: 100%;
        margin-top: 30px;
    }
}

.process-img {
    width: 100%;
    height: 250px;
    padding-bottom: 50px;
    object-fit: cover;
}

.process-facts {
    background: $dark-green;
    color: white;
}

.facts-container {
    padding: 4rem;
}

.qa-sub-heading {
    text-align: center;
    padding-bottom: 50px;
    width: 90%;
}

.qa-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 50px;
    width: 100%;
}

.qa-col {
    width: 90%;
    margin: 0 auto;
}

// ==============================================================
// Contact Page
// ==============================================================
.contact-sub-heading {
    width: 40%;
}

.contact-img {
    padding: 50px 0;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.form-flex {
    display: flex;
    justify-content: space-between;
}

.form-col {
    width: 45%;
}

@media (max-width: 850px) {
    .contact-heading {
        padding-left: 1rem;
    }
    .form-flex {
        flex-direction: column;
        justify-content: center;
    }
    .form-col {
        width: 90%;
        margin: 0 auto;
    }
    .contact-sub-heading {
        width: 80%;
    }
}

.form-img {
    width: 100%;
}

// Form Fields
form {
    margin: 20px 0;
}

input[type=text] {
    background: $grey-background;
    border: none;
    border-radius: 5px;
    padding: 1.5rem 1.3rem;
    margin: 10px 0;
    width: 90%;
    font-size: 1rem;
}

label {
    font-size: 0.8rem;
    font-family: Montserrat;
    text-transform: uppercase;
    margin-left: 10px;
}

.first-radio {
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {
    background: $grey-background;
    border: none;
    border-radius: 5px;
    padding: 1.5rem 1.3rem;
    margin-top: 20px;
    width: 90%;
}

textarea[type=textarea] {
    font-size: 1rem;
    font-weight: Montserrat;
}

.submit-btn {
    background: $dark-green;
    color: white;
    font-family: cormorant garamond;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 98%;
    padding: 1rem 3rem;
}

// ==============================================================
// Gallery Page
// ==============================================================
.gallery-page {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    grid-auto-flow: dense;
}

.gallery-landscape {
    grid-column: span 2;
    grid-row: span 2;
}

.gallery-portrait {
    grid-column: span 1.5;
    grid-row: span 2;
}

@media (max-width: 650px) {
    .gallery-page {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
    .gallery-landscape {
        grid-column: span 1;
    }
    
    .gallery-portrait {
        grid-column: span 1;
    }
}

.gallery-single {
    height: 100%;
    width: 100%;
    object-fit: cover;
}